@font-face {
  font-family: "ja-jp";
  src: url("../Assets/font/ja-jp.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../Assets/img/Background.png");
  background-size: auto;
  font-family: ja-jp;
}

.background {
  display: none;
}

.navbar {
  width: 100%;
}

.navbar .navbarContainer {
  padding: 1em;
  width: full;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(113, 113, 113, 0.6);
}

.navbar .navbarContainer .kensinImpactLogo {
  margin-left: 1%;
  width: 15em;
}

.navbar .navbarContainer .homeButton {
  margin-right: 5%;
  width: 8em;
  height: auto;
  background-image: linear-gradient(to right, #ff9100, #ffc400);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.formSection {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formSection .formContainer {
  width: 90%;
  margin-top: 5em;
  border-radius: 50px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
  font-size: x-large;
  color: #7e7e7e;
}

.formSection .formContainer .formHeader {
  height: auto;
  border-radius: 50px 50px 0px 0px;
  width: 100%;
  background: linear-gradient(to right, #ff9100, #ffc400);
  text-align: center;
  color: white;
}

.formSection .formContainer .formLogin {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
  padding-left: 0.5em;
}

.formSection .formContainer .formLogin .emailContainer {
  width: 100%;
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  font-size: x-large;
}

.formSection .formContainer .formLogin .emailContainer label {
  font-weight: bold;
}

.formSection .formContainer .formLogin .emailContainer input {
  border-style: none;
  background-color: bisque;
  border-bottom: 3px solid #ffae00;
  height: 1em;
  width: 100%;
  font-size: 0.8em;
}

.formSection .formContainer .formLogin .emailContainer .error {
  font-size: medium;
}

.formSection .formContainer .formLogin .usernameContainer {
  width: 100%;
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  font-size: x-large;
}

.formSection .formContainer .formLogin .usernameContainer label {
  font-weight: bold;
}

.formSection .formContainer .formLogin .usernameContainer input {
  border-style: none;
  background-color: bisque;
  border-bottom: 3px solid #ffae00;
  height: 1em;
  width: 100%;
  font-size: 0.8em;
}

.formSection .formContainer .formLogin .usernameContainer .error {
  font-size: medium;
}

.formSection .formContainer .formLogin .PassContainer {
  width: 100%;
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  font-size: x-large;
}

.formSection .formContainer .formLogin .PassContainer label {
  font-weight: bold;
}

.formSection .formContainer .formLogin .PassContainer input {
  border-style: none;
  background-color: bisque;
  border-bottom: 3px solid #ffae00;
  height: 1em;
  width: 100%;
  font-size: 0.8em;
}

.formSection .formContainer .formLogin .PassContainer .error {
  font-size: medium;
}

.formSection .formContainer .formLogin .comfirmPassContainer {
  width: 100%;
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  font-size: x-large;
}

.formSection .formContainer .formLogin .comfirmPassContainer label {
  font-weight: bold;
}

.formSection .formContainer .formLogin .comfirmPassContainer input {
  border-style: none;
  background-color: bisque;
  border-bottom: 3px solid #ffae00;
  height: 1em;
  width: 100%;
  font-size: 0.8em;
}

.formSection .formContainer .formLogin .comfirmPassContainer .error {
  font-size: medium;
}

.formSection .formContainer .formLogin .agreementContainer {
  width: 100%;
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.formSection .formContainer .formLogin .agreementContainer .agreementCheckBox {
  height: 1em;
  width: 1em;
}

.formSection .formContainer .formLogin .agreementContainer label {
  font-size: 0.56em;
  margin-left: 0.1em;
}

.formSection .formContainer .formLogin .agreementContainer .error {
  text-align: center;
  font-size: large;
}

.formSection .buttonContainer {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formSection .buttonContainer .loginButton {
  background: linear-gradient(to right, #ff9100, #ffc400);
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbar .navbarContainer {
    padding: 1em;
    width: full;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(113, 113, 113, 0.6);
  }

  .navbar .navbarContainer .kensinImpactLogo {
    margin-left: 1%;
    width: 15em;
  }

  .navbar .navbarContainer .homeButton {
    margin-right: 5%;
    width: 8em;
    height: auto;
    background-image: linear-gradient(to right, #ff9100, #ffc400);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }

  .formSection {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .formSection .formContainer {
    width: 60%;
    margin-top: 5em;
    border-radius: 50px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    font-size: x-large;
    color: #7e7e7e;
  }

  .formSection .formContainer .formHeader {
    height: auto;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    background: linear-gradient(to right, #ff9100, #ffc400);
    text-align: center;
    color: white;
  }

  .formSection .formContainer .formLogin {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
  }

  .formSection .formContainer .formLogin .emailContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .emailContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .emailContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .emailContainer .error {
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .usernameContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .usernameContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .usernameContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .usernameContainer .error {
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .PassContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .PassContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .PassContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .PassContainer .error {
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer .error {
    font-size: x-large;
  }

  .formSection .formContainer .formLogin .agreementContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }

  .formSection .formContainer .formLogin .agreementContainer .agreementCheckBox {
    height: 1.5em;
    width: 1.5em;
  }

  .formSection .formContainer .formLogin .agreementContainer label {
    margin-left: 1em;
  }

  .formSection .formContainer .formLogin .agreementContainer .error {
    font-size: x-large;
  }

  .formSection .buttonContainer {
    width: 100%;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .formSection .buttonContainer .loginButton {
    background: linear-gradient(to right, #ff9100, #ffc400);
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-image: none;
  }

  .contentContainer {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
  }

  .background {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .navbar {
    width: 100%;
    position: absolute;
  }

  .navbar .navbarContainer {
    padding: 1em;
    width: full;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: rgba(113, 113, 113, 0.6);
  }

  .navbar .navbarContainer .kensinImpactLogo {
    margin-left: 1%;
    width: 15em;
  }

  .navbar .navbarContainer .homeButton {
    margin-right: 5%;
    width: 8em;
    height: auto;
    background-image: linear-gradient(to right, #ff9100, #ffc400);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }

  .formSection {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .formSection .formContainer {
    position: absolute;
    width: 35%;
    margin-top: 6em;
    border-radius: 50px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    font-size: large;
    color: #7e7e7e;
  }

  .formSection .formContainer .formHeader {
    height: auto;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    background: linear-gradient(to right, #ff9100, #ffc400);
    text-align: center;
    color: white;
  }

  .formSection .formContainer .formLogin {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-start;
  }

  .formSection .formContainer .formLogin .emailContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: 1.3em;
  }

  .formSection .formContainer .formLogin .emailContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .emailContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .emailContainer .error {
    font-size: medium;
  }

  .formSection .formContainer .formLogin .usernameContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: 1.3em;
  }

  .formSection .formContainer .formLogin .usernameContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .usernameContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .usernameContainer .error {
    font-size: medium;
  }

  .formSection .formContainer .formLogin .PassContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: 1.3em;
  }

  .formSection .formContainer .formLogin .PassContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .PassContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .PassContainer .error {
    font-size: medium;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    font-size: 1.3em;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer label {
    font-weight: bold;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer input {
    border-style: none;
    background-color: bisque;
    border-bottom: 3px solid #ffae00;
    height: 1em;
    width: 100%;
    font-size: 0.8em;
  }

  .formSection .formContainer .formLogin .comfirmPassContainer .error {
    font-size: medium;
  }

  .formSection .formContainer .formLogin .agreementContainer {
    width: 100%;
    margin: 1em 0em 0em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }

  .formSection .formContainer .formLogin .agreementContainer .agreementCheckBox {
    height: 1.5em;
    width: 1.5em;
  }

  .formSection .formContainer .formLogin .agreementContainer label {
    margin-left: 0.2em;
  }

  .formSection .formContainer .formLogin .agreementContainer .aggrementInformation {
    font-size: 1.2em;
  }

  .formSection .buttonContainer {
    width: 100%;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .formSection .buttonContainer .loginButton {
    background: linear-gradient(to right, #ff9100, #ffc400);
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }
}